{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "default_agent": "build",
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp"
    },
    "gh_grep": {
      "type": "remote",
      "url": "https://mcp.grep.app"
    },
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "@playwright/mcp@latest",
        "--browser",
        "chromium"
      ]
    }{{ with index . "github_pat" }},
    "github": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@modelcontextprotocol/server-github"
      ],
      "environment": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ . }}"
      }
    }
    {{- end }}{{ with index . "massive_api_key" }},
    "massive": {
      "type": "local",
      "command": [
        "mcp_massive"
      ],
      "environment": {
        "MASSIVE_API_KEY": "{{ . }}"
      }
    }
    {{- end }}{{ with index . "portfolio_arena_api_key" }},
    "portfolio_arena": {
      "type": "remote",
      "url": "https://arena.kaufmann.dev/mcp",
      "headers": {
        "Authorization": "Bearer {{ . }}"
      }
    }
    {{- end }}
  },
  "tools": {
    "websearch": true,
    "codesearch": true
  }
}
