{
  "mcpServers": {
    "context7": {
      "type": "http",
      "url": "https://mcp.context7.com/mcp"
    },
    "gh_grep": {
      "type": "http",
      "url": "https://mcp.grep.app"
    },
    "playwright": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "@playwright/mcp@latest",
        "--browser",
        "chromium"
      ]
    }{{ with index . "github_pat" }},
    "github": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-github"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ . }}"
      }
    }
    {{- end }}{{ with index . "massive_api_key" }},
    "massive": {
      "type": "stdio",
      "command": "mcp_massive",
      "env": {
        "MASSIVE_API_KEY": "{{ . }}"
      }
    }
    {{- end }}
  }
}
