#:schema https://developers.openai.com/codex/config-schema.json

web_search = "live"
default_permissions = ":danger-full-access"
approval_policy = "never"

model_reasoning_effort = "high"
plan_mode_reasoning_effort = "high"

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"

[mcp_servers.gh_grep]
url = "https://mcp.grep.app"

[mcp_servers.playwright]
command = "npx"
args = ["@playwright/mcp@latest", "--browser", "chromium"]

{{ with index . "github_pat" -}}
[mcp_servers.github]
command = "npx"
args = ["-y", "@modelcontextprotocol/server-github"]
env = { GITHUB_PERSONAL_ACCESS_TOKEN = "{{ . }}" }
{{- end }}
{{ with index . "massive_api_key" -}}
[mcp_servers.massive]
command = "mcp_massive"
env = { MASSIVE_API_KEY = "{{ . }}" }
{{- end }}
{{ with index . "portfolio_arena_api_key" -}}
[mcp_servers.portfolio_arena]
url = "https://arena.kaufmann.dev/mcp"
http_headers = { Authorization = "Bearer {{ . }}" }
{{- end }}

[notice]
hide_full_access_warning = true