#:schema https://developers.openai.com/codex/config-schema.json

web_search = "live"

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"

[mcp_servers.gh_grep]
url = "https://mcp.grep.app"

[mcp_servers.playwright]
command = "npx"
args = ["@playwright/mcp@latest"]

{{ with index . "github_pat" -}}
[mcp_servers.github]
command = "npx"
args = ["-y", "@modelcontextprotocol/server-github"]
env = { GITHUB_PERSONAL_ACCESS_TOKEN = "{{ . }}" }
{{- end }}
