{
  "mcpServers": {
    "context7": {
      "serverUrl": "https://mcp.context7.com/mcp"{{ with index . "context7_api_key" }},
      "headers": {
        "CONTEXT7_API_KEY": "{{ . }}"
      }{{- end }}
    },
    "gh_grep": {
      "serverUrl": "https://mcp.grep.app"
    }{{ with index . "github_pat" }},
    "github": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-github"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ . }}"
      }
    }
    {{- end }}{{ with index . "massive_api_key" }},
    "massive": {
      "command": "mcp_massive",
      "env": {
        "MASSIVE_API_KEY": "{{ . }}"
      }
    }
    {{- end }}{{ with index . "portfolio_arena_api_key" }},
    "portfolio_arena": {
      "serverUrl": "https://arena.kaufmann.dev/mcp",
      "headers": {
        "Authorization": "Bearer {{ . }}"
      }
    }
    {{- end }}{{ with index . "executive_arena_api_key" }},
    "executive_arena": {
      "serverUrl": "https://executives.kaufmann.dev/mcp",
      "headers": {
        "Authorization": "Bearer {{ . }}"
      }
    }
    {{- end }}{{ with and (index . "purelymail_email") (index . "purelymail_password") }},
    "purelymail": {
      "command": "uvx",
      "args": [
        "mcp-email-server==1.9.0",
        "stdio"
      ],
      "env": {
        "MCP_EMAIL_SERVER_ACCOUNT_NAME": "purelymail",
        {{ with index $ "purelymail_full_name" -}}
        "MCP_EMAIL_SERVER_FULL_NAME": {{ . | toJson }},
        {{ end -}}
        "MCP_EMAIL_SERVER_EMAIL_ADDRESS": {{ index $ "purelymail_email" | toJson }},
        "MCP_EMAIL_SERVER_PASSWORD": {{ . | toJson }},
        "MCP_EMAIL_SERVER_IMAP_HOST": "imap.purelymail.com",
        "MCP_EMAIL_SERVER_IMAP_PORT": "993",
        "MCP_EMAIL_SERVER_IMAP_SSL": "true",
        "MCP_EMAIL_SERVER_SMTP_HOST": "smtp.purelymail.com",
        "MCP_EMAIL_SERVER_SMTP_PORT": "465",
        "MCP_EMAIL_SERVER_SMTP_SSL": "true",
        "MCP_EMAIL_SERVER_ALLOWED_RECIPIENTS": "*"
      }
    }
    {{- end }}
  }
}
